[Unit]
Description=uWSGI emperor mode
After=network.target

[Service]
User={USER}
Group=www-data
WorkingDirectory=/home/{USER}/
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/uwsgi --emperor /home/{USER}/vassals/
ExecStop=killall uwsgi
[Install]
WantedBy=multi-user.target
